body {
    margin: 0;
    padding: 0;
    background-image: url(../images/main-gb.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}