body {
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
a {
    text-decoration: none!important;
}
div.body {
    height: 3000px;
    background-color:lightslategray;
    margin: 1% 15%;
}
ul.navtext {
    font-size: 24px;
    font-weight: 900;
    color: #d8d5d5;
}