body {
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://victorycraft.ru/templates/victorycraft/assets/images/background.jpg?ver=2');
}
a {
    text-decoration: none!important;
}
div.body {
    height: 3000px;
    margin-top: 84px;
    font-size: 16px;
    font-weight: 500;
}
ul.navtext {
    font-size: 24px;
    font-weight: 900;
    color: #d8d5d5;
}
div.line {
    height: 1em;
    width: 100%;
    border: 1px solid lightslategray;
    border-radius: 10px;
    background: linear-gradient(to right, #33ffff 0%, transparent 0%);
}
strong
{
    padding: 0px!important;
    font-size: 24px;
}
div.header {
    background-color: rgb(33, 37, 41, 0.5);
}
div.header:hover {
    background-color: rgb(33, 37, 41);
}
li.nav-item:hover {
    opacity: 0.5;
}