{%extends 'main_template.html'%}
{%block content%}
<div class="row bg-light container p-3" style="height: auto;margin-top: 0px!important;">
    <div class="col-3 p-2" style="font-size: 32px;">
        <div class="row server_select shadow rounded d-flex justify-content-center align-items-center" style="height: 3em; margin-bottom: 1em;">Hitech</div>
        <div class="row server_select shadow rounded d-flex justify-content-center align-items-center" style="height: 3em;margin-bottom: 1em;">Hitech</div>
        <div class="row server_select shadow rounded d-flex justify-content-center align-items-center" style="height: 3em;margin-bottom: 1em;">Hitech</div>
        <div class="row server_select shadow rounded d-flex justify-content-center align-items-center" style="height: 3em;">Hitech</div>
    </div>
    <div class="col p-2" style="height: 480px;">
        <img src="https://avatars.mds.yandex.net/get-zen_doc/1901404/pub_5e28bf1032335400b12deb9e_5e28bfcb0be00a00ad27be37/scale_1200" alt="" class="server_img rounded">
    </div>
</div>
{%endblock%}