{% for name in info %}
    <div class="bg-light container text-dark" style="max-width: 100%; box-sizing: border-box;">
        <div class="row m-2" style="margin-top:2em!important">
            {{ name }}
        </div>
        <div class="row m-2">
            <div class="line" id="line1"></div>
        </div>
        <div class="row m-2" style="text-align: end;" id="online1">
            <div class="d-flex justify-content-end" style="padding-right: 0px;">{{ info[name][0] }}/{{info[name][1]}}</div>
        </div>
    </div>
{% endfor %}